p {
    color: white;
}

.stApp {
    background-color: #0B0F2E;
}

h1 {
    color: #A0B2F3;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: white;
}

/* h2 {
    color: #680E4B;
} */